{% extends 'base.html' %}

{% block content %}

<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <h2 class="text-center">Log in</h2>
            <form class="text-left clearfix" action="index.html" method="post">
              <div class="form-group">
                {% csrf_token %}
                <input type="email" class="form-control"  placeholder="Email"> 
              </div>
             <div class="form-group">
                <input type="password" class="form-control" placeholder="Password">
              </div> 
              <div class="text-center">
                <button type="submit" class="btn btn-main text-center" >Entrar</button>
              </div>
            </form>
            <p class="mt-20">Não Possui conta?<a href="register.html"> Criar nova conta</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}